header {
  font-size: 3rem;
  text-align: center;
  border-bottom: solid aliceblue;
}

img {
  /* border: 4px solid brown; */
}

h1 {
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    text-align: justify;
    /* text-justify: inter-word; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 1rem;
  }

  p {
    text-align: justify;
    /* text-justify: inter-word; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 1rem;
  }
  
  ul {
    list-style: disc;
    margin: 1rem;
  }
  
  ol {
    list-style-position: inside;
    list-style: decimal;
    padding: lrem;
  }

body {
    background-color: purple;
}

footer {
  margin-bottom: 1rem;
  padding-top: 3rem;
}



/* lightsalmon */